/*
*	Chroma CSS grid.modifier
*/


//
//	mixins public
//

@mixin chroma-column-push($current-column, $total-columns: $chroma-grid-amount){
	$width:			chroma-column-width($current-column, $total-columns);
	position: 		relative;
	left: 			$width;
}

@mixin chroma-column-pull($current-column, $total-columns: $chroma-grid-amount){
	$width:			chroma-column-width($current-column, $total-columns);
	position: 		relative;
	right: 			$width;
}

@mixin chroma-column-offset($current-column, $total-columns: $chroma-grid-amount){
	$width:			chroma-column-width($current-column, $total-columns);
	margin-left: 	$width;
}

@mixin chroma-column-offset-right($current-column, $total-columns: $chroma-grid-amount){
	$width:			chroma-column-width($current-column, $total-columns);
	margin-right: 	$width;
}





@mixin chroma-column-center() {
	margin-left: auto;
	margin-right: auto;
	@if ($chroma-is-flexbox == false) {
		float: none;
		clear: both;
	}
}

@mixin chroma-column-left() {
	@if ($chroma-is-flexbox) {
		margin-right: auto;
	} @else {
		float: left;
	}
}

@mixin chroma-column-right() {
	@if ($chroma-is-flexbox) {
		margin-left: auto;
	} @else {
		float: right;
	}
}

@mixin chroma-column-bleed() {
	padding-right: 0;
	padding-left: 0;
}









//
//	mixins for default classes
//

@mixin chroma-create-column-push($i) {
	.#{$chroma-grid-namespace}#{$chroma-grid-name-col}-#{$i}--push {
		@include chroma-column-push($i, $chroma-grid-amount);
	}
	@if ($chroma-column-delimiter) {
		$class: #{$chroma-grid-namespace}#{$chroma-grid-name-col}-#{$i}#{$chroma-column-delimiter}#{$chroma-grid-amount}--push;
		@if ($chroma-column-delimiter == true) {
			$class: #{$chroma-grid-namespace}#{$chroma-grid-name-col}-#{$i}\/#{$chroma-grid-amount}--push;
		}
		.#{$class} {
			@extend .#{$chroma-grid-namespace}#{$chroma-grid-name-col}-#{$i}--push;
		}	
	}
}

@mixin chroma-create-column-pull($i) {
	.#{$chroma-grid-namespace}#{$chroma-grid-name-col}-#{$i}--pull {
		@include chroma-column-pull($i, $chroma-grid-amount);
	}
	@if ($chroma-column-delimiter) {
		$class: #{$chroma-grid-namespace}#{$chroma-grid-name-col}-#{$i}#{$chroma-column-delimiter}#{$chroma-grid-amount}--pull;
		@if ($chroma-column-delimiter == true) {
			$class: #{$chroma-grid-namespace}#{$chroma-grid-name-col}-#{$i}\/#{$chroma-grid-amount}--pull;
		}
		.#{$class} {
			@extend .#{$chroma-grid-namespace}#{$chroma-grid-name-col}-#{$i}--pull;
		}	
	}
}

@mixin chroma-create-column-offset($i) {
	.#{$chroma-grid-namespace}#{$chroma-grid-name-col}-#{$i}--offset {
		@include chroma-column-offset($i, $chroma-grid-amount);
	}
	@if ($chroma-column-delimiter) {
		$class: #{$chroma-grid-namespace}#{$chroma-grid-name-col}-#{$i}#{$chroma-column-delimiter}#{$chroma-grid-amount}--offset;
		@if ($chroma-column-delimiter == true) {
			$class: #{$chroma-grid-namespace}#{$chroma-grid-name-col}-#{$i}\/#{$chroma-grid-amount}--offset;
		}
		.#{$class} {
			@extend .#{$chroma-grid-namespace}#{$chroma-grid-name-col}-#{$i}--offset;
		}	
	}
}





@mixin chroma-create-column-center() {
	.#{$chroma-grid-namespace}#{$chroma-grid-name-col}--center {
		@include chroma-column-center()
	}
}

@mixin chroma-create-column-left() {
	.#{$chroma-grid-namespace}#{$chroma-grid-name-col}--left {
		@include chroma-column-left()
	}
}

@mixin chroma-create-column-right() {
	.#{$chroma-grid-namespace}#{$chroma-grid-name-col}--right {
		@include chroma-column-right()
	}
}

@mixin chroma-create-column-bleed() {
	.#{$chroma-grid-namespace}#{$chroma-grid-name-col}--bleed {
		@include chroma-column-bleed()
	}
}











//
//	scaffolding
//

@if ($chroma-grid-scaffold-modifier == true) {

	@for $i from 1 through $chroma-grid-amount {
		@include chroma-create-column-push($i);
		@include chroma-create-column-pull($i);
		@include chroma-create-column-offset($i);	
	}
	@include chroma-create-column-center();
	@include chroma-create-column-left();
	@include chroma-create-column-right();
	@include chroma-create-column-bleed();

}