/*
*   Debugging classes
*/

@if ($chroma-grid-scaffold-debug == true) {
	.#{$chroma-grid-namespace}#{$chroma-grid-name-container},
	.#{$chroma-grid-namespace}#{$chroma-grid-name-row} {
		background-color: rgba(150, 150, 150, 0.05);
	}

	.#{$chroma-grid-namespace}#{$chroma-grid-name-row} {
		background-color: rgba(150, 150, 150, 0.05);
	}

	[class*="#{$chroma-grid-namespace}#{$chroma-grid-name-col}"] {
		background-color: rgba(0, 0, 150, 0.05);
		border: 1px solid rgba(0, 0, 150, 0.05);
	}

	.cell {
		background-color: rgba(0, 0, 150, 0.05);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid rgba(0, 0, 0, 0.05);
	}

	.debug,
	.\@todo {
		box-shadow: 0 0 6px 3px rgba(255,115,0, 1) !important;
	}
}