
//
//	Chroma CSS grid settings
//

// grid settings
$chroma-grid-amount				: 12 !default; 			// number of total columns
$chroma-grid-gutter				: 10px !default; 		// gutter between columns
$chroma-grid-max-width  		: null !default			// maximum container width

$chroma-is-mobile-first 		: true !default;		// if layout is mobile first
$chroma-is-static-layout 		: false !default; 		// sets a static container layout with fixed width

$chroma-breakpoints 			: ( 					// default breakpoints for responsive views
								    sm:  320px,
								    md:  740px,
								    lg:  980px,
								    xl:  1300px,
								) !default;
$mq-breakpoints: $chroma-breakpoints !default;			// overwrite sass-mq variable. this is important!


// class namings
$chroma-grid-namespace  		: "" !default;			// custom namespace prefix
$chroma-grid-name-container   	: "container" !default;	// custom container name
$chroma-grid-name-row   		: "row" !default;		// custom row name
$chroma-grid-name-col   		: "cols" !default;		// custom column name

$chroma-breakpoint-delimiter 	: \@ !default;			// how breakpoints are seperated in classes
$chroma-column-delimiter 		: false !default; 		// additional classes for columns, eg: cols-5/12 or cols-5-of-12



// scaffold default classes
$chroma-grid-scaffold-default			: true !default;		// creates default grid classes
$chroma-grid-scaffold-modifier			: true !default;		// creates default grid modifier classes
$chroma-grid-scaffold-responsive		: true !default;		// creates default grid responsive classes
$chroma-grid-scaffold-utils				: true !default;		// creates default util classes
$chroma-grid-scaffold-utils-responsive	: true !default;		// creates default responsive util classes
$chroma-grid-scaffold-utils-print		: true !default;		// creates default print util classes
$chroma-grid-scaffold-debug				: false !default; 		// creates some debugging classes

