/*
*   Chroma CSS utils
*/




//
//  mixins public
//
@mixin chroma-hide($mq: false) {
    @if ($mq == false) {
        display: none !important;
    } @else {
        @media #{$mq} {
            display: none !important;
        }
    }
}
// alias
@mixin chroma-hidden($args...) {
    @include chroma-hide($args...) { @content };
}

@mixin chroma-show($type: block, $mq: false) {
    @if ($mq == false) {
        display: $type !important;
    } @else {
        @include hide();
        @media #{$mq} {
            display: $type !important;
        }   
    }
}
// alias
@mixin chroma-visible($args...) {
    @include chroma-show($args...) { @content };
}




//
//  mixins for default classes
//

$chroma-visible-display: (block, inline, inline-block);

// creates basic classes
@mixin chroma-create-util-classes() {
    .hide,
    .hidden,
    [hidden] {
        @include chroma-hide();
    }
    .show {
        @include chroma-show();
    }
    @each $_display in $chroma-visible-display {
        .show-#{$_display} {
            @include chroma-show(#{$_display});
        }
    }
    .visible {
        visibility: visible !important;
    }
    .invisible {
        visibility: hidden !important;
    }
}



//
//  scaffolding for responsive utils
//

@if ($chroma-grid-scaffold-utils == true) {
    @include chroma-create-util-classes();
}
