a {
	color: $c-em;
	text-decoration: none;
}




h1 {
	font-size: 2em;
	margin-top: 2em;
	&:before {
		content: '_';
		color: $c-em;
		display: inline-block;
		width: 20px;
		margin-right: 10px;
		font-weight: bold;
		box-shadow: inset 0 -17px 0px $c-em;
		line-height: 1em;
	}
	.byline {
		opacity: $light;
		font-size: 0.75em;
		font-family: monospace;
	}
}

h2 {
	font-size: 1.4em;
	text-transform: uppercase;
	margin-top: 60px;
}
h3 {
	margin-top: 60px;
	margin-bottom: 10px;
}
h2 + h3 {
	margin-top: 0px;
}
h4 {
	margin-top: 30px;
	margin-bottom: 10px;
}



pre {
	background: rgba(0,0,0,0.05);
	padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    overflow: scroll;
    .cols-full & {
    	margin: 10px;
    }
    code {
    	font-size: 12px;
    	background: transparent;
    	padding: 0;
    }
}
code {
	color: black;
	font-family: monospace;
	background: rgba(0,0,0,0.05);
	border-radius: 2px;
	padding: 2px 4px;
}





code {
	.tag {
		color: black;
	}
	.name {
		color: red;
	}
	.value {
		color: blue;
	}
	.comment {
		opacity: 0.6;
	}
}
.token {
	&.tag {
		color: black;
	}
	&.name {
		color: red;
	}
	&.value {
		color: blue;
	}
}


table {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 20px;
	th, td {
		text-align: center;	
		font-weight: normal;
		background: rgba(0,0,0,0.05);
		padding: 10px;
	}
	tr:first-child>th:first-child {
		background: transparent;
	}
	th:first-child {
		text-align: left;
	}
	.is-shown {
		background-color: rgba($c-em, 0.4);
	}
	.is-hidden {
		opacity: $light;
	}
}







